.button {
  display: block;
  cursor: pointer;
}

.button--round {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  padding-top: 21px;
  padding-bottom: 21px;
  width: 280px;
  border: 3px solid $white;
  border-radius: 29px;
}

.button--white {
  color: $white;
  border-color: $white;
}

.button--squere {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: $white;
  background-color: $green--light;
  border: none;
}
