.button {
  display: block;
  cursor: pointer;
}

.button--round {
  font-weight: $bold;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  padding-top: 21px;
  padding-bottom: 21px;
  width: 280px;
  border-width: 3px;
  border-style: solid;
  border-radius: 30px;
}

.button--white {
  color: $white;
  border-color: $white;
}

.button--pink {
  color: $fuchsia;
  border-color: $fuchsia;
  background-color: transparent;
}

.button--grey {
  color: $grey--lighter;
  border-color: $grey--lighter;
  background-color: transparent;
}

.button--squere {
  font-style: normal;
  font-weight: $bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: $white;
  background-color: $green--light;
  border: none;
}
