.contacts {
  text-align: center;
}

.contacts__wrapper {
  padding-top: 47px;
  padding-bottom: 18px;
  width: 240px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 44px;
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    width: 970px;
    padding-top: 60px;
    padding-bottom: 6px;
  }
}

.contacts__heading {
  font-size: 24px;
  line-height: 29px;
  font-weight: $small;
  color: $black--dirty;
  margin-bottom: 30px;
  width: 100%;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 54px;
    margin-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
    margin-bottom: 53px;
  }
}

.contacts__item {
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    margin-bottom: 42px;
  }

  @media (min-width: $desktop-width) {
    width: 33%;
  }
}

.contacts__item:nth-child(3) {
  @media (min-width: $desktop-width) {
    order: 4;
  }
}

.contacts__item--adress {
  @media (min-width: $desktop-width) {
    order: 3;
  }
}

.contacts__item--half {
  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 33%;
  }
}

.contacts__item:last-child {
  margin-bottom: 0;
}

.contacts__title {
  font-weight: $bold;
  line-height: 25px;
  color: $black--dirty;
}

.contacts__text {
  font-weight: $small;
  font-size: 24px;
  line-height: 33px;
  color: $contacts-information-color;
  text-decoration: none;
}

.contacts__phone {
  font-weight: $small;
  font-size: 24px;
  line-height: 33px;
  color: $fuchsia;
  text-decoration: none;
}

