.contacts {
  text-align: center;
}

.contacts__wrapper {
  padding-top: 42px;
}

.contacts__heading {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: $black--dirty;
  margin-bottom: 30px;
  width: 100%;
}

.contacts__item {
  margin-bottom: 18px;
}

.contacts__title {
  font-weight: bold;
  line-height: 25px;
  color: $black--dirty;
}

.contacts__text {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: $contacts-information-color;
}

.contacts__phone {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: $fuchsia;
}

