.copyright {
  display: flex;
  margin-top: 30px;
}

.copyright__text {
  font-size: 14px;
  line-height: 18px;
  font-weight: $normal;
  color: $black--dirty;
  padding-top: 5px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.copyright__link {
  font-size: 0;
  display: block;
  width: 27px;
  height: 34px;
  background-image: url("../img/html-academy.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-left: 15px;
}
