.reviews__list {
  text-align: center;
}

.reviews__author-name {
  font-style: normal;
  font-weight: $bold;
  font-size: 18px;
  line-height: 30px;
  color: $author-name-color;
}

.reviews__text {
  font-weight: $normal;
  font-size: 14px;
  line-height: 30px;
  color: $text-color;
}

.reviews__author-info {
  display: none;
  font-weight: $normal;
  font-size: 14px;
  line-height: 30px;
  color: $text-color;
}
