.upload {
  background-color: $grey;
}

.upload__container {
  padding-top: 20px;
}

.upload__photo {
  width: 280px;
  margin: 0 auto;
}

.upload__button {
  border-style: none;
}

.upload__btn {
  margin: 0 auto;
}
