// Colors

$black: #000000;
$black--blue: #1d2631;
$black--opacity: rgba(0, 0, 0, 0.3);
$black--dirty: #283645;

$green--light: #2aab6d;
$green: #1c9b5e;


$white: #ffffff;

$grey--lighter: #dddfe0;
$grey--light: #e5e5e5;
$grey: #f2f2f2;

$fuchsia: #d22856;

$text-color: $black--dirty;
$contacts-information-color: $fuchsia;
$main-article-color: $white;
$title-color: $black;
$author-name-color: $black;

$font-family: "Open Sans", "Arial", sans-serif;

$normal: 400;
$bold: 700;
$small: 300;
