// Colors

$black: #000000;
$black--blue: #1d2631;
$black--opacity: rgba(0, 0, 0, 0.3);
$black--dirty: #283645;

$white: #ffffff;

$grey: #f2f2f2;

$fuchsia: #d22856;

$text-color: $black--dirty;
$contacts-information-color: $fuchsia;
$main-article-color: $white;
$title-color: $black;
$author-name-color: $black;

$font-family: "Open Sans", "Arial", sans-serif;
